<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dati CSV</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>Dati da CSV</h1>
<table>
    <thead>
    <tr>
        {% if data %}
        {% for header in data[0] %}
        <th>{{ header }}</th>
        {% endfor %}
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for row in data[1:] %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
