<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dati CSV</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<form action="/leggi_json" method="post">
    <label for="nome_chiesa">Inserisci il nome della chiesa:</label>
    <input type="text" id="nome_chiesa" name="nome_chiesa" required>
    <button type="submit">Cerca Reperti</button>
</form>

</body>
</html>
