/* Stili generali */
html, body {
    height: 100%; /* Imposta altezza */
    margin: 0;
    padding: 0;
    overflow: auto; /* Abilita lo scrolling */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #283048, #859398);
    color: #fff;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Stili per titoli, testo e form */
h1, h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: #ccc;
}

p, label, li {
    font-size: 1.6rem;
    color: #ccc; /* Grigio per i testi minori */
    margin-bottom: 1rem;
}

/* Stili per link e pulsanti */
a {
    color: #00bcd4;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover, .button:hover {
    color: #4caf50;
    background: #ff5722;
}

.button {
    background: #f44336;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

/* Stili per input e form */
.input-field {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    outline: none;
    border-color: #00bcd4;
}

/* Stili per container e liste */
.container, .form, .map-container {
    width: 100%; /* Assicurati che occupi tutta la larghezza */
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

/* Stili per la mappa e gli elementi interattivi */
#viewDiv {
    height: 700px;
    width: 100%; /* o la larghezza desiderata */
}

.relic-container, .image-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Gestione dello spazio e overflow */
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.inscription-container {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    margin-top: 1rem;
}

.latin-inscription {
    font-size: 0.8rem;
    color: #333;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: border-color 0.3s ease;
}

.image-container:hover::before {
    border-color: #00bcd4;
}
