/* Stile Base */
body {
    font-family: 'Times New Roman', serif;
    background-image: url('/static/sfondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h2 {
    color: #965A38;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #5A5A5A;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
}

input:focus {
    border-color: #965A38;
    outline: none;
}

button {
    padding: 10px;
    background-color: #965A38;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #B37657;
}

.alert {
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
}
