<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Risultati Ricerca</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.23/"></script>
    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/WebMap",
            "esri/Graphic",
            "esri/config",
            "esri/layers/GraphicsLayer",
            "esri/geometry/Point",
            "esri/widgets/Search"// Aggiungi il modulo 'esri/config' per configurare la chiave API
        ], function(Map, MapView, WebMap, GraphicsLayer, Point, esriConfig) {
            // Configura la tua chiave API
            esriConfig.apiKey = "AAPK28024a6180ac48739d279d7a90c08c37z2nA-K4du-xQN6XMFh2rgWo6uM53XTVwJg3XJ8OIXlN5y3i9uyRJh3S6dHbZdzn9";

            var webMap = new WebMap({
                portalItem: {
                    id: "5ae37f33f52a4eefbc098507ddd9f92d"
                }
            });

            var view = new MapView({
                container: "viewDiv",
                map: webMap,
                zoom: 12, // Imposta un livello di zoom che ti permetta di visualizzare chiaramente la chiesa
                center: [12.2306, 45.4417] // Centra la mappa sulle coordinate della Chiesa di S. Agnese
            });
        });

        window.addEventListener('load', function() {
            // Funzione per cliccare sul bottone all'interno della mappa
            function clickBottoneMappa() {
                var bottoneMappa = document.getElementById('18eeb5642be-widget-3-popup-title');
                if (bottoneMappa) {
                    bottoneMappa.click();
                } else {
                    console.log('Bottone nella mappa non trovato');
                }
            }

            // Funzione per gestire il click sul bottone principale
            function handleClickBottonePrincipale() {
                // Ottieni il testo dall'elemento h2 con la classe specificata
                var testoH2 = document.querySelector('.esri-widget__heading.esri-popup__header-title').textContent.trim();
                // Imposta il valore dell'input di ricerca al testo ottenuto
                document.getElementById('search_input').value = testoH2;
                // Invia il modulo per eseguire la ricerca
                document.getElementById('search_form').submit();
            }

            // Crea un MutationObserver per rilevare quando il bottone nella mappa viene aggiunto
            var observer = new MutationObserver(function(mutations) {
                mutations.forEach(function(mutation) {
                    if (mutation.type === 'childList' && mutation.addedNodes.length) {
                        // Se viene aggiunto un nuovo nodo, verifica se è il bottone nella mappa
                        var newNode = mutation.addedNodes[0];
                        if (newNode.id === '18eeb5642be-widget-3-popup-title') {
                            // Se è il bottone nella mappa, attacca l'event listener
                            newNode.addEventListener('click', handleClickBottonePrincipale);
                        }
                    }
                });
            });
            // Specifica il nodo target e le opzioni per l'observer
            var targetNode = document.getElementById('viewDiv'); // Sostituisci 'contenitore-mappa' con l'ID dell'elemento che contiene la mappa
            var config = { childList: true };

            // Avvia l'observer
            observer.observe(targetNode, config);
            // Esegui prima il clic sul bottone nella mappa
            clickBottoneMappa();
        });

    </script>

</head>
<body>
<h1>Ricerca Chiesa</h1>
<form id="search_form" action="/" method="GET">
    <label for="search_input">Inserisci il nome della chiesa:</label><br>
    <input type="text" id="search_input" name="query" class="search-input"><br>
    <button type="submit" id="search_button" class="search-button">Cerca</button>
</form>

<div class="map-container">
    <div class="custom-div" id="viewDiv"></div>
</div>

</body>
</html>