<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "/static/style.css">
    <title>Elenco Chiese</title>
</head>
<body>
<div class="search-bar">
<input type="text" class="search-input" placeholder="Cerca...">
<button class="search-button">Cerca</button>
</div>

<h1>Elenco Chiese</h1>
{% if chiese %}
<ul>
    {% for chiesa in chiese %}
    <li>
        <h2>Nome: {{ chiesa["Locale Nome della Chiesa"] }}</h2>
        <p>Indirizzo: {{ chiesa.Sestiere }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nessuna chiesa trovata.</p>
{% endif %}
</body>
</html>
</html>